@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
svg {
  height: 100%;
}
img {
  width: 100%;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 1rem 3rem;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 40%;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
li {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(273, 4%, 51%);
  padding: 1rem;
  text-transform: uppercase;
}
li:hover {
  color: hsl(270, 9%, 17%);
  cursor: pointer;
  font-weight: 700;
}
.navigations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
}
.cta {
  border: 0.3rem solid hsl(273, 4%, 51%);
  padding: 0.5rem;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(273, 4%, 51%);
  text-transform: uppercase;
}
.cta:hover {
  border: 0.3rem solid hsl(270, 9%, 17%);
  background-color: hsl(270, 9%, 17%);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.hero-page {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: hsl(270, 9%, 17%);
  width: 100%;
  padding: 2rem 3rem;
}
.intro-text {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.rule {
  width: 30%;
  margin-bottom: 2%;
}
.hero-heading {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: white;
  margin-bottom: 2%;
}
.hero-text {
  font-family: Karla;
  font-weight: 400;
  color: white;
  margin-bottom: 2%;
  padding-right: 7rem;
}
.hero-cta {
  border: 0.3rem solid white;
  width: 30%;
  padding: 0.5rem;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.hero-cta:hover {
  color: hsl(270, 9%, 17%);
  font-weight: 700;
  background-color: white;
  cursor: pointer;
}
.hero-image-container {
  position: relative;
  width: 50%;
  padding: 1rem;
}
.burger-container {
  display: none;
}
.hero-image-media-query{
  display: none;
}
.svg-media-query{
  display: none;
}
.hero-image {
  width: 60%;
  position: absolute;
  z-index: 2;
  top: 2rem;
  left: 10rem;
}
.hero-svg {
  position: absolute;
  z-index: 3;
  top: -2rem;
  right: -2rem;
  height: 20rem;
}
.second-copy {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 1rem 3rem;
  margin-bottom: 2%;
}
.second-rule {
  width: 13%;
  margin-bottom: 2%;
}
.second-heading {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: hsl(270, 9%, 17%);
  margin-bottom: 10%;
}
.different {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.snappy {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 1%;
}
.snappy-icon {
  border-radius: 10rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.snappy-header {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: hsl(270, 9%, 17%);
}
.snappy-text {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(273, 4%, 51%);
}
.find-main {
  width: 100%;
  padding: 1rem 3rem;
}
.find-bg {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: hsl(270, 9%, 17%);
  width: 100%;
  padding: 4rem 6rem;
  margin: 4rem 0;
}
.find-top {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.find-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding-right: 20%;
  justify-content: flex-start;
  font-family: "DM Serif Display", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 2rem;
}
.find-second-half {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}
.find-cta {
  border: 0.3rem solid white;
  padding: 0.5rem;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.find-cta:hover {
  background-color: white;
  color: hsl(270, 9%, 17%);
  cursor: pointer;
  font-weight: 700;
}
.find-svg {
  position: absolute;
  top: 0;
  right: -2rem;
  z-index: 0;
  overflow: hidden;
  height: 100%;
}
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  padding: 1rem 3rem;
}
.footer-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 40%;
}
.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-end;
  width: 60%;
}
.fa-square-facebook {
  font-size: 1.5rem;
  color: hsl(273, 4%, 51%);
  margin: 0 1rem;
}
.fa-square-facebook:hover {
  color: hsl(270, 9%, 17%);
  cursor: pointer;
}
.fa-twitter {
  font-size: 1.5rem;
  color: hsl(273, 4%, 51%);
  margin: 0 1rem;
}
.fa-twitter:hover {
  color: hsl(270, 9%, 17%);
  cursor: pointer;
}
.fa-pinterest {
  font-size: 1.5rem;
  color: red;
  margin: 0 1rem;
}
.fa-pinterest {
  color: hsl(270, 9%, 17%);
  cursor: pointer;
}
.fa-instagram {
  font-size: 1.5rem;
  color: hsl(273, 4%, 51%);
  margin: 0 1rem;
}
.fa-instagram:hover {
  color: hsl(270, 9%, 17%);
  cursor: pointer;
}
.details-main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  width: 100%;
}
.details-rule {
  width: 100%;
  margin: 1rem 0 4rem 0;
}
.details-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.details-list-container {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.details-list-start {
  font-family: "Karla", sans-serif;
  color: hsl(273, 4%, 51%);
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.details-list-text {
  font-family: "Karla", sans-serif;
  color: hsl(270, 9%, 17%);
  text-transform: uppercase;
  margin: 3% 0;
  font-weight: 400;
}
.details-list-text:hover {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.attribution {
  padding: 3rem;
  font-family: "Karla", sans-serif;
  color: hsl(270, 9%, 17%);
  font-weight: 400;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution > a:hover {
  text-decoration: underline;
  font-weight: 700;
}


@media only screen and (max-width: 1100px) {
  .hero-image {
    width: 72%;
    position: absolute;
    z-index: 2;
    top: 5rem;
    left: 8rem;
  }
  .burger-container {
    display: none;
  }
}
@media only screen and (max-width: 982px) {
  .hero-image {
    width: 80%;
    position: absolute;
    z-index: 2;
    top: 7rem;
    left: 5rem;
  }
}
@media only screen and (max-width: 863px) {
  .hero-image {
    width: 83%;
    position: absolute;
    z-index: 2;
    top: 10rem;
    left: 4rem;
  }
}
@media only screen and (max-width: 815px) {
  .hero-image {
    width: 85%;
    position: absolute;
    z-index: 2;
    top: 12rem;
    left: 4rem;
  }
}
@media only screen and (max-width: 750px) {
  ul {
    display: none;
  }
  .cta {
    display: none;
  }
  .navigations{
    justify-content: flex-end;
  }
  .logo {
    width: 70%;
  }
  .navigations {
    width: 30%;
  }
  .burger-container {
    width: 5%;
    display: flex;
    flex-direction: column;
  }
  .hero-page {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: hsl(270, 9%, 17%);
    width: 100%;
    padding: 8rem 0rem;
    align-items: center;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .rule {
    display: none;
  }
  .hero-heading {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: white;
    margin-bottom: 2%;
  }
  .hero-text {
    font-family: Karla;
    font-weight: 400;
    color: white;
    margin-bottom: 2%;
    padding-right: 0rem;
  }
  .hero-cta {
    align-self: center;
    border: 0.3rem solid white;
    width: 50%;
    padding: 0.5rem;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
  }
  .hero-cta:hover {
    color: hsl(270, 9%, 17%);
    font-weight: 700;
    background-color: white;
    cursor: pointer;
  }
  .hero-image-media-query {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .hero-image-container {
    position: absolute;
    right: 2rem;
    bottom: -2rem;
    padding: 0;
    height: 15rem;

  }
  .hero-image {
    display: none;
  }


  .second-copy {
    padding: 5rem 3rem 1rem 3rem;
  }
  .second-rule {
    width: 20%;
    margin-bottom: 2%;
    align-self: center;
  }
  .second-heading {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: hsl(270, 9%, 17%);
    margin-bottom: 10%;
    align-self: center;
    text-align: center;
  }
  .different {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .snappy {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 1% 0;
  }
  .snappy-icon {
    border-radius: 10rem;
    overflow: hidden;
    margin-bottom: 0;
    align-self: center;
  }
  .snappy-header {
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: hsl(270, 9%, 17%);
    text-align: center;
  }
  .snappy-text {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: hsl(273, 4%, 51%);
    text-align: center;
    margin-bottom: 0.5rem;
  }



  
  .find-main {
    width: 100%;
    padding: 1rem 3rem;
  }
  .find-bg {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: hsl(270, 9%, 17%);
    width: 100%;
    padding: 2rem 1rem;
    margin: 4rem 0;
  }
  .find-top {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .find-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    width: 100%;
    justify-content: flex-start;
    font-family: "DM Serif Display", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 2rem;
  }
  .find-second-half {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  .find-cta {
    border: 0.3rem solid white;
    padding: 0.5rem;
    text-align: center;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
  }


  .footer-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }
  .footer-logo > svg {
    align-self: center;
  }
  .footer-socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;
  }
  .details-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .details-list-container {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
  .details-list-start {
    font-family: "Karla", sans-serif;
    color: hsl(273, 4%, 51%);
    text-transform: uppercase;
    margin: 2rem 0;
  }
  .details-list-text {
    font-family: "Karla", sans-serif;
    color: hsl(270, 9%, 17%);
    text-transform: uppercase;
    margin: 3% 0;
    font-weight: 400;
  }
  
  

  
}
@media only screen and (max-width: 450px) {
  .hero-heading {
    font-size: 3.5rem;
  }
  .second-heading {
    font-size: 3.5rem;
  }
  .find-bg {
    padding: 2rem 0.5rem;
  }
}